.form-box {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
}

form {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background-color: $graylt;
  width: 100%;
}

label {
  text-align: center;
}

input{
  width: 70%;
  background: white;
  @include border;
  padding: 12px;
  margin: 8px 0;
  transition: 1s;
  outline: none;
}

input::placeholder {
  color: $graydk;
}

input:focus {
  border: $focus;
}
