* {
  outline: none;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $roboto;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
  font-family: $questrial;
  width: 100%;
}

h1 {
  color: $fuschia;
  margin: 20px;
}

.container {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
