@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto');

$fuschia: #772567;
$fuschiadk: #593C58;
$graylt: rgb(244, 240, 244);
$graydk: rgb(138, 126, 137);
$questrial:'Questrial', sans-serif;
$roboto: 'Roboto', sans-serif;
$focus: 3px dashed $fuschiadk;

@mixin border {
  border: 3px solid $graydk;
  border-radius: 3px;
}
